@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#143146]
}

.gradient-bg {
  background: linear-gradient(to bottom, black, #143146);
}

.dark-bg {
  @apply bg-[#1e2731]
}

.icon-white {
  @apply text-[#dddddd]
}

.headlines {
  @apply text-[#dddddd] font-bold tracking-wide
}

.long-text {
  @apply text-base text-[#e6e9ed]
}

.btn {
  @apply opacity-90 tracking-wider items-center text-[#e6e9ed] text-center
}

.back-btn {
  @apply text-[#e6e9ed] bg-[#de2a2a] rounded-sm px-2 py-1 opacity-90 text-sm font-semibold
}

.btn:hover, .back-btn:hover {
  opacity: 1;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.shadow-custom {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


